.feature {
    width: 49%;
    display: inline-block;
    padding: 1rem 2rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        position: relative;

        &:before {
            content: '√';
            position: absolute;
            top: 50%;
            left: -2rem;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            color: #fff;
            background-color: #aad401;
            margin-top: -.6rem;
            font-size: .3rem;
            line-height: 1.3rem;
            text-align: center;
        }
    }
}
