.fitness {
    max-width: 100%;
    background-image: linear-gradient(
        to top,
        #aad401 0%,
        #aad401 60%,
        white 100%);
    padding: 5rem;
    color: #fff;
    display: flex;
    justify-content: space-around;

    &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1.3rem;
    }

    .btn {
        color: #aad401;
        padding: 1.5rem 3rem;
        border: none;
        outline: none;
        border-radius: .2rem;
        font-weight: bold;
        align-self: center;
        transition: .3s all;

        &:hover {
            cursor: pointer;
            transform: translateY(-3px);
        }
    }
}
